<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
        }
        html{
    scroll-behavior: smooth;
}
#header
{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container
{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo
{
    width: 140px;

}
nav ul li
{
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text
{
    margin-top: 20%;
    font-size: 30px;
    color: #eedddd;
}
        .btn{
    display: block;
    background-color: #070707;
    margin: 50px auto;
    width: fit-content;
    border:1px solid #ff004f ;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: backgroud 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.contact-left
{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px;

}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
 width: 100%;

}
form input , form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
nav .fas{
    display: none;
    color: #f1eeee;
}
nav.fas:hover{
    background-color: #525151;
    color: #db9d9d;
    border-radius: 50px;
    border-end-end-radius: 50px;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:#323132;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}
    </style>
</head>
<body>
    <body class="dark">
        <div id="header">
            <div class="container">
                <nav>
                    <img src="images/logo5.png.png" alt="not found" class="logo">
                    <ul id="sidemenu">
                        <li><a href="/">home</a></li>
                        <li><a href="#about">about</a></li>
                        <li><a href="#services">services</a></li>
                        <li><a href="work">portfolio</a></li>
                        <li><a href="login">Login</a></li>
                        <i class="fas fa-times" onclick="closemenu()"></i>
                    </ul>
                    <i class="fas fa-bars" onclick="openmenu()"></i>
                    <img src="images/moon.png" id="icon">
                </nav>
    </div>
</div>
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">
                        contact me</h1>
                        <p>contact@example.com</p>
                        <p>7999510022</p>
                        <div class="social-icon">
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                            <a href=""><i class="fa-brands fa-twitter-square"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <a href="images/my-cv.pdf" download class="btn btn2">downloud cv</a>
                </div>
                <div class="contact-right" id="contact-right">
                    <form action="/login" method="post">
                        <input type="text" name="usn" placeholder="Enter your username" required>
                        <input type="password" name="password" placeholder="password"required>
                        <textarea name="massage" name="massage" placeholder="your massage"></textarea >
                        <button type="submit" value="submit" class="btn btn2"> submit</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="copyright">
            <p> copyright c hritik. - @ 2023 made with easy  portfolio all rights reserved </p>
          </div>
    </div>
</body>
</html>